@page "/servers/add"

@rendermode InteractiveServer

@inject NavigationManager navigationManager

<h3>Add Server</h3>
<br />
<EditForm Model="server" OnValidSubmit="Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="row mb-3 input-text-width">
        <div class="col-2">
            <label class="col-form-label">Name</label>
        </div>
        <div class="col-6">
            <InputText @bind-Value="server.Name" class="form-control"></InputText>
        </div>
        <div class="col">
            <ValidationMessage for="() => server.Name"></ValidationMessage>
        </div>
    </div>
    <div class="row mb-3 input-text-width">
        <div class="col-2">
            <label class="col-form-label">City</label>
        </div>
        <div class="col-6">
            <InputText @bind-Value="server.City" class="form-control"></InputText>
        </div>
        <div class="col">
            <ValidationMessage for="() => server.City"></ValidationMessage>
        </div>
    </div>
    <div class="row mb-3 input-text-width">
        <div class="col-2">
            <label class="col-form-label">Is Online?</label>
        </div>
        <div class="col-6">
            <InputCheckbox @bind-Value="server.IsOnline" class="form-check-input"></InputCheckbox>
        </div>
    </div>
    <br />
    <a href="/servers" class="btn-link">Go Back</a>
    &nbsp;
    <button class="btn btn-primary" type="submit">Save</button>
</EditForm>

@code {
    private Server server { get; set; } = new Server() { IsOnline = false };

    private async Task Submit()
    {
        if (server != null)
        {
            ServerReepository.AddServer(server);
        }
        navigationManager.NavigateTo("/servers");
    }
}
