@page "/servers"

@inject NavigationManager navigationManager
@rendermode InteractiveServer

<h3>Servers</h3>
<br />
<br />
<CityListComponent @ref="cityListComponent" SelectCityCallback="HandleCitySelectionCallback"></CityListComponent>
<br />
<a href="/servers/add" class="btn btn-success mb-3">Add New Server</a>
<br />
<ServerSearchComponent @ref="serverSearchComponent" SearchServerFilterCallback="HandleSearchFilterCallback"></ServerSearchComponent>

<ServerListComponent CityName="@selectedCity" SearchFilter="@serverFilter"></ServerListComponent>

@code {
    private string selectedCity = String.Empty;
    private string serverFilter = String.Empty;
    private ServerSearchComponent? serverSearchComponent;

    private CityListComponent? cityListComponent;

    private void HandleCitySelectionCallback(string cityName)
    {
        this.selectedCity = cityName;
        if (this.selectedCity == "All Cities")
        {
            this.selectedCity = String.Empty;
        }
        serverSearchComponent.ClearSearchText();
        serverFilter = String.Empty;
    }
    private void HandleSearchFilterCallback(string serverFilter)
    {
        this.serverFilter = serverFilter;
        cityListComponent.ClearSelectedCity();
    }
}
