@inject NavigationManager navigationManager

@if(this.servers != null && this.servers.Count > 0)
{
    <table class="table table-striped">
        <RepeaterComponent Items="@this.servers">
            <Header>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>City</th>
                        <th>Status</th>
                        <th>People Online</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </Header>
            <Row Context="server">
                <ServerComponent Server="@server"></ServerComponent>
            </Row>
        </RepeaterComponent>
    </table>
}
else
{
    <p>No servers available.</p>
}

@code {
    [Parameter]
    public string? CityName { get; set; }
    [Parameter]
    public string? SearchFilter { get; set; } = String.Empty;

    private List<Server> servers;

    protected override void OnParametersSet()
    {
        if (!String.IsNullOrEmpty(SearchFilter))
        {
            servers = ServerReepository.SearchServers(SearchFilter);
        }
        else
        {
            if (!String.IsNullOrEmpty(CityName))
            {
                if (CityName == "Bangalore")
                {
                    for (int i = 16; i <= 2000; i++)
                    {
                        ServerReepository.AddServer(new Server { Name = $"Server{i}", City = "Bangalore", IsOnline = true });
                    }
                }
                servers = ServerReepository.GetServersByCity(CityName);
            }
            else
            {
                servers = ServerReepository.GetServers();
            }
        }
    }

    
}
