<div style="color:@(server.IsOnline ? "green" : "red")">
    Server name @server.Name is in @server.City that is @(server.IsOnline ? "Online" : "Offline")
</div>

@code {
    private Server server = new Server { Name = "Server1", City="Chennai" };
}
