@inject NavigationManager navigationManager

@if(this.Server != null && this.Server.ServerId != null)
{
    <tr @key=@this.Server.ServerId>
        <td hidden>@this.Server.ServerId</td>
        <td>@this.Server.Name</td>
        <td>@this.Server.City</td>
        <td style="color:@(this.Server.IsOnline ? "green" : "red")">@(this.Server.IsOnline ? "Online" : "Offline")</td>
        <td>
            <a href="/servers/@this.Server.ServerId" class="btn btn-primary btn-sm">Edit</a>
            &nbsp;
            <button class="btn btn-danger btn-sm" @onclick="() => DeleteServer(this.Server.ServerId)">Delete</button>
        </td>
    </tr>
}

@code {
    [Parameter]
    public Server? Server { get; set; }

    public async Task DeleteServer(int serverId)
    {
        if (serverId != 0)
        {
            ServerReepository.DeleteServer(serverId);
            navigationManager.Refresh();
            // navigationManager.NavigateTo("/servers");
        }
    }
}
